<title>Customer | Add</title>
<app-header class="sticky-top"></app-header>
<body>
<div class="container col-12">
  <h3 class="text-center mt-3" style="color: white">Add New Customer</h3>
  <h5 class="text-center" style="color: blue"></h5>
</div>

<div class="container border border-primary w-25 mb-5">
  <form [formGroup]="formAdd" (ngSubmit)="addNewCustomer()" class="g-3" method="post">
    <div class="col-12">
      <label for="inputName" class="form-label">Name:</label>
      <input formControlName="name" type="text" class="form-control" id="inputName"/>
      <p style="color: red"></p>
    </div>
    <div class="col-12">
      <label for="inputBirthday" class="form-label">Date of birth:</label>
      <input formControlName="birthday" type="date" class="form-control" id="inputBirthday"/>
    </div>

    <div>
      <label>Gender:</label> <br>
      <div class="form-check form-check-inline">
        <input formControlName="gender" value="1" class="form-check-input" type="radio" id="maleId"/>
        <label class="form-check-label" for="maleId">
          Male
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input formControlName="gender" value="0" class="form-check-input" type="radio" id="femaleId" checked/>
        <label class="form-check-label" for="femaleId">
          Female
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input formControlName="gender" value="2" class="form-check-input" type="radio" id="lgbtId"/>
        <label class="form-check-label" for="lgbtId">
          LGBT
        </label>
      </div>
    </div>

    <div class="col-12">
      <label for="inputIdNum" class="form-label">ID number:</label>
      <input formControlName="idNum" type="text" class="form-control" id="inputIdNum"/>
      <p style="color: red"></p>
    </div>

    <div class="col-12">
      <label for="inputPhoneNum" class="form-label">Phone number:</label>
      <input formControlName="phone" type="text" class="form-control" id="inputPhoneNum"/>
      <p style="color: red"></p>
    </div>

    <div class="col-12">
      <label for="inputEmail" class="form-label">Email:</label>
      <input formControlName="email" type="text" class="form-control" id="inputEmail" placeholder="acb@gmail.com"/>
      <p style="color: red"></p>
    </div>

    <div class="col-12">
      <label for="inputAddress" class="form-label">Address:</label>
      <input formControlName="address" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"/>
    </div>

    <div class="col-12">
      <label class="form-label">Rank:</label>
      <select formControlName="rank" class="form-select">
        <option value="null">Select rank</option>
        <option *ngFor="let rank of ranks" [ngValue]="rank">{{rank.name}}</option>
      </select>
    </div>

    <div class="col-12 mt-3 text-center mb-3">
      <button type="submit" class="btn btn-primary">Save</button>
      <a routerLink="/customer/list" class="btn btn-secondary mx-3 text-white text-decoration-none">Customer list</a>
    </div>
  </form>
</div>
</body>
