
<nav class=" sticky-top navbar-expand-lg " >
  <div class="container-fluid"style="background-color: #0d6efd">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            style="height: 40px;width: 40px;padding: 5px">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <a class="navbar-brand text-light" routerLink="/">Home</a>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
           sổ tiết kiệm
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/list/sotietkiem">danh sach sổ tiết kiệm</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

</nav>
