
<div class="text-center" style="margin-top: 10px"><h2>Contract Create</h2></div>
<div class="container">

  <div class="row">
    <div class="col-3">

    </div>
    <div class="col-6">

      <form method="post">
        <div class="mb-3">
          <input type="hidden" class="form-control" id="ida" aria-describedby="User">

        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label  col-form-label">Start Date</label>
          <input type="date"  class="form-control" id="firstName"
                 aria-describedby="firstName">
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">End Date</label>
          <input type="date"  class="form-control" id="age" aria-describedby="age">

        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Employee</label>

          <select class="form-select">
            <option>division</option>
            <option>position</option>
            <option>education</option>

          </select>

        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Customer</label>

          <select class="form-select">
            <option> Diamond</option>
            <option>Platinium</option>
            <option>Gold</option>
            <option>Silver</option>
            <option>Member</option>
          </select>

        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Facility</label>
          <select  class="form-select">
            <option>villa</option>
            <option>room</option>
            <option>house</option>

          </select>

        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Deposit</label>
          <input type="text" class="form-control" id="exampleInputEmail1"
                 aria-describedby="emailHelp">
        </div>

        <div class="row">
          <div class="col-9">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
          <div class="col-3">
            <a class="text-white btn btn-primary" href="../contract/list.html" style=" text-decoration: none">Back </a>
          </div>
        </div>
      </form>

    </div>
    <div class="col-3"></div>
  </div>
</div>

