<footer class="py-5"  style="margin-top: 5px ;background:aliceblue">
  <div class="container-fluid">
  <div class="row">
    <div class="col-6 col-md-2 mb-3">
      <h5>Danh mục</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Trang Chủ</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Thông Tin Cá Nhân</a></li>
      </ul>
    </div>

    <div class="col-6 col-md-2 mb-3">
      <h5>Thông tin</h5>
      <ul class="nav flex-column">

        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Thông tin Sổ</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Thông tin khách hàng</a></li>
      </ul>
    </div>

    <div class="col-6 col-md-2 mb-3">
      <h5>Tiện ích</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Cẩm Nang Khách Hàng</a></li>

      </ul>
    </div>

    <div class="col-md-5 offset-md-1 mb-3">
      <div>
        <h5>Đăng kí nhận tư vấn</h5>
        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
          <label for="newsletter1" class="visually-hidden">Email address</label>
          <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
          <button class="btn btn-primary" type="button">Subscribe</button>
        </div>
      </div>
    </div>
  </div>

  <div style="text-align: center;margin-top: 10px">
    <h5>© 2022 Company, Inc. All rights reserved.</h5>
  </div>
  </div>
</footer>
