<h3 style="text-align: center">Form Resigter</h3>
<div class="container">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6" [formGroup]="userForm">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
               formControlName="email">
      </div>
      <div class="mb-3 text-danger" *ngIf="userForm.controls.email.hasError('required')
      && userForm.controls.email.dirty">
        Please input email
      </div>
      <div class="mb-3 text-danger" *ngIf="userForm.controls.email.hasError('email')
      && userForm.controls.email.dirty">
        Please input format mai email
      </div>
      <div class="mb-3" formGroupName="passwordGroup">
        <label for="first" class="form-label">Password </label>
        <input type="text" class="form-control" id="first" aria-describedby="emailHelp"
               formControlName="passwordFirst">

        <div class="text-danger"
             *ngIf="userForm.get('passwordGroup').hasError('required','password')
        && userForm.get('passwordGroup').get('password').touched">
          password is not valid
        </div>
        <div class="text-danger"
             *ngIf="userForm.get('passwordGroup').hasError('minlength','password')
        && userForm.get('passwordGroup').get('password').dirty">
          Password must be at least 6 characters
        </div>
        <label for="first" class="form-label">Confirm Password </label>
        <input type="text" class="form-control" id="" aria-describedby="emailHelp"
               formControlName="confirmPassword">
        <div class="text-danger"
             *ngIf="userForm.get('passwordGroup').hasError('notSame') && userForm.get('passwordGroup').touched">
          confirmPassword is not same password
        </div>
        <div class="text-danger"
             *ngIf="userForm.get('passwordGroup').hasError('minlength','confirmPassword')
        && userForm.get('passwordGroup').get('confirmPassword').touched">
          ConfirmPassword must be at least 6 characters
        </div>
      </div>

      <div class="mb-3">
        <label for="country">Choose a country:</label>
        <select class="form-select" name="country" id="country" formControlName="country">
          <option value="Quảng Nam">Quảng Nam</option>
          <option value="Quảng Nam">Quảng Bình</option>
          <option value="Huế">Huế</option>
          <option value="Nghệ An">Nghệ An</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="age" class="form-label">Age</label>
        <input type="date" class="form-control" id="age" aria-describedby="age" formControlName="age">
      </div>
      <div class="mb-3 text-danger" *ngIf="userForm.controls.age.hasError('invalid18')
      && userForm.controls.age.dirty">
        Please input >=18!
      </div>
      <div class="mb-3">
        <p>Please select your gender:</p>
        <input type="radio" id="male" name="fav_language" value="male" formControlName="gender">
          <label for="male">Male</label>
          <input type="radio" id="female" name="fav_language" value="female" formControlName="gender">
          <label for="female">Female</label>
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Phone</label>
        <input type="number" class="form-control" id="phone" aria-describedby="phone" formControlName="phone">
      </div>
      <div class="mb-3 text-danger" *ngIf="userForm.controls.phone.hasError('required')
      && userForm.controls.phone.dirty">
        Please input phone
      </div>
      <div class="mb-3 text-danger" *ngIf="userForm.controls.phone.hasError('pattern')
&& userForm.controls.phone.dirty">
        Please input 84XXXXXXXXX||+XX
      </div>
      <button type="button" class="btn btn-primary" (click)="getValue()"
              [disabled]="userForm.invalid">Submit
      </button>

    </div>
    <div class="col-lg-3"></div>

  </div>
</div>
