
<footer class="py-5 text-black" style="margin-top: 5px ;background:aliceblue">
  <div  class="container-fluid">

    <div class="row">
      <div class="col-lg-3">
        <div class="row"><h5>Furama Resort</h5></div>
        <div class="row"><p class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">Home</a></p>
        </div>
        <div class="row"><p class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">Features</a></p>
        </div>
        <div class="row"><p class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">Pricing</a></p>
        </div>
        <div class="row"><p class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">FAQs</a></p>
        </div>
        <div class="row"><p class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">About</a></p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="row"> <h5>Information With Furama</h5></div>
        <div class="row"><p class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">Facebook</a></p>
        </div>
        <div class="row"> <p class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">Zalo</a></p></div>
        <div class="row"> <p class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">Service</a></p></div>
        <div class="row"><p class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">FAQs</a></p></div>

      </div>
      <div class="col-lg-3">
        <div class="row"><h5>Address</h5></div>
        <div class="row"> <p class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">090453454</a></p></div>
        <div class="row"><p class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">Furama@gmail.com.vn</a></p> </div>
        <div class="row">   <p class="nav-item mb-2"><a href="#" class="nav-link p-0 text-black">Facebook Furama</a></p>
        </div>

      </div>
      <div class="col-lg-3">

        <form>
          <h5>Subscribe to our newsletter</h5>
          <p>Monthly digest of what's new and exciting from us.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row"style="text-align: center">
      <h3 >© Furama 2022 Company, Inc. All rights reserved.</h3>
    </div>
  </div>
</footer>
