
<div class="text-center" style="margin-top: 10px"><h2>Customer List</h2></div>
<div class="container-fluid text-center ">

  <div class="row" style="margin-top: 10px">
    <div class="col-lg-2">
      <a href="../customer/create.html" class="btn btn-primary">Add Customer</a>

    </div>
    <div class="col-lg-7"></div>
    <div class="col-lg-3">
      <form action="/customer">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            aria-describedby="button-addon2"
            name="keyword"
          />
          <button class="btn btn-primary text-white" type="submit" id="button-addon2"
                  data-mdb-ripple-color="dark">
            Search
          </button>
        </div>

      </form>
    </div>

  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <table class="table ">

      <tr class="bg-primary text-light ">
        <th>No.</th>
        <th>Name</th>
        <th>Birthday</th>
        <th>Gender</th>
        <th>ID Card</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Type</th>
        <th colspan="4">Action</th>

      </tr>

      <tr>

        <td>1</td>
        <td>Nguyễn Văn Hoà</td>
        <td>2020-10-12</td>
        <td>Nam</td>
        <td>09046565757</td>
        <td>090966555</td>
        <td>hoa@gmail.com</td>
        <td>Liên chiểu Đà Nẵng</td>
        <td>Member</td>
        <td>
          <a href="">Edit</a>
        </td>
        <td>
         <a href="">Delete</a>
        </td>
      </tr>

    </table>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form action="/customer/delete" method="post">
      <div class="modal-content" style="background-color: darksalmon">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Notification </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body container-fluid">
          You want to delete Customer: <span id="delete_modal"></span>
          <input type="hidden" id="sendId" name="id">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>

        </div>
      </div>
    </form>
  </div>
</div>



